fluxo_followup_ana.json
{
  "name": "Steel Master - Follow-up Twenty CRM",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1-5"
            }
          ]
        }
      },
      "name": "Cron (Todo dia 8h)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://steelmaster-twenty:3000/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer SUA_CHAVE_AQUI"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "{ opportunities(filter: { stage: { eq: \"Envio de Proposta\" } }) { id name amount company { name } } }"
            }
          ]
        }
      },
      "name": "Twenty CRM (Buscar)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json[\"Dias_Passados\"] }}",
              "operation": "equal",
              "value2": 1
            }
          ]
        }
      },
      "name": "Passou 1 Dia?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sua-api-whatsapp.com/message/sendText",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json[\"Telefone\"] }}"
            },
            {
              "name": "text",
              "value": "Olá! Conseguiu analisar nossa proposta de tubos de aço?"
            }
          ]
        }
      },
      "name": "WhatsApp - Mensagem Dia 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 150]
    }
  ],
  "connections": {
    "Cron (Todo dia 8h)": {
      "main": [
        [
          {
            "node": "Twenty CRM (Buscar)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twenty CRM (Buscar)": {
      "main": [
        [
          {
            "node": "Passou 1 Dia?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Passou 1 Dia?": {
      "main": [
        [
          {
            "node": "WhatsApp - Mensagem Dia 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {}
}
